.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}

.my-3 {
  margin-top: 1rem!important;
  margin-bottom: 1rem!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mt-3 {
  margin-top: 1rem!important;
}

.mt-6 {
  margin-top: 4.5rem !important;
}

.mt-8 {
  margin-top: 7.5rem !important;
}

.mt-9 {
  margin-top: 9rem !important;
}

.me-2 {
  margin-right: .5rem!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-2 {
  margin-bottom: .5rem!important;
}

.mb-4 {
  margin-bottom: 1.5rem!important;
}

.mb-5 {
  margin-bottom: 3rem!important;
}

.ms-auto {
  margin-left: auto!important;
}

@media (min-width:768px) {
  .ms-md-2 {
    margin-left: .5rem!important;
  }
}

